body {
  
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-backgroundColor);
}

.custom-btn{
  font-family: 'Archivo', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
